<div class="container">
  <div class="form-container">
    <h1 class="title">Registration</h1>
    <form action="/registration" method="post">
    
      <div class="input-box">
        <label for="name"><i class="uil uil-user icon"></i> </label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Enter your Full Name"
        />
      </div>
      
      <div class="input-box">
        <label for="email"><i class="uil uil-envelope icon"></i> </label>
        <input
          type="mail"
          name="email"
          id="email"
          placeholder="Enter your Email"
        />
      </div>

      <div class="input-box">
        <label for="birthday"><i class="uil uil-gift icon"></i> </label>
        <input type="date" name="birthday" id="birthday" />
      </div>

      <div class="input-box">
        <label for="profile_picture"
          ><i class="uil uil-image icon"></i
        ></label>
        <input
          type="url"
          name="profilePicture"
          id="profilePicture"
          placeholder="Enter URL image"
        />
      </div>

      <div class="input-box">
        <label for="password"><i class="uil uil-lock-alt icon"></i> </label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Enter your Password"
        />
      </div>

      <div class="input-box">
        <label for="confirm-password"
          ><i class="uil uil-lock-alt icon"></i>
        </label>
        <input
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          placeholder="Confirm your Password"
        />
      </div>
      <div class="input-box is-hidden" >
        <label class="is-hidden" for="type-user"
          >Tipo de Usuario</i>
        </label>
        <input
          type="hidden"
          name="typeUser"
          id="typeUser"
          value="0"
        />
      </div>
      <div class="link">
        <a href="/login" class="link">Have an Account?</a>
      </div>
       {{#each validation.errors}}
          <span style="color: red;">{{this}}</span>
        {{/each}}
      <div>
        <button class="button">Register</button>
      </div>
     
    </form>
  </div>
</div>
    