.general-container {
  height: fit-content;
}
.carousel {
  position: relative;
  height: 350px;
  width: 50%;
  margin: 100px auto;
}
.division-line{
    margin-top: 5%;
    margin-bottom: 2%;
    position: relative;
    width: 75%;
    top: 5px;
    left: 15%;
    border: #19282F 2.5px dashed;
}

.home-link{
    list-style: none;


  display: inline-block;
  padding: 0px 20px;


  transition: all 0.3s ease 0s;
  font-weight: 500;
  font-size: 16px;
  color: black;
  text-decoration: none

}
.home-link:hover{
  color: #E6AC5C;
}



.image {
  position: absolute;
  height: 100%;
  object-fit: cover;
  left: 50%;
  transform: translateX(-50%);
}

.track-container {
  height: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.track {
  list-style: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: transform 250ms ease-in;
}

.slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
  font-size: 50px;
}

.button-left {
  left: -10px;
  z-index: 2;
}
.button-right {
  right: -10px;
  z-index: 2;
}

.is-hidden {
  display: none;
}
